<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div ng-app="WeatherApp" ng-controller="WeatherCtrl" ng-cloak>
        <form ng-submit="weather.search()">
            <input type="text" ng-model="weather.city"  size="30" placeholder="City">
            <input class="btn-primary" type="submit" value="search">
        </form>
        <div ng-show="weather.showLoader" class="loader">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
        <hr />
        <div class="results" ng-show="weather.hasState == 'has-success'">
            <h2>Weather in {{ weather.location.city }}, {{ weather.location.country }}</h2>
            <ul class="unstyled">
                <li ng-repeat="forecast in weather.forecast" class="forecast">
                    <weather-icon cloudiness="{{ forecast.code }}"></weather-icon>
                    <h3>{{ forecast.date }} - {{ forecast.text }}</h3>
                    min: {{ forecast.low | temp:forecast.unit }}, max: {{ forecast.high | temp:forecast.unit }}
                </li>
            </ul>
        </div>
        <div class="error" ng-show="weather.hasState == 'has-warning'">
            <span ng-show="weather.message" class="alert"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{weather.message}}</span>
        </div>
    </div>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>